.list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.card {
  width: calc((100% - 36px) / 4);
  border-radius: 8px;
  background-color: rgb(52, 50, 50);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
